# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Word temp files
**/~$*
# Other temp files
**/~*.tmp

*.lock

*.sln
*.suo
*.vcxproj
*.vcxproj.filters
**/*.sdf
VisualStudio/**/Debug/*
VisualStudio/**/Release/*
VisualStudio/**/x64/*
VisualStudio/**/packages/*
VisualStudio/**/ipch/*
*.opensdf

*.vcxproj.user
*.aps
Visual Studio/**/packages/*
Cosimir/RV-2AJ/RV-2AJ.INI
*RV-2AJ.INI
